
.contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 20%;
    
}
.container {

    padding: 10px;
    padding-left: 220px;
}

.card {

    background-color: rgb(255, 255, 255);
    border: solid;
    border-left: 5px solid orange;
    height: 370px;
    width: 380px;
    
    
}
