<div>
  <app-section (searchTextChanged)="onSearchTextEntered($event)"></app-section>
</div>

<br>
<div class="details">

  <div class="col-6">
    <div *ngFor="let user of userList; let i = index">
      <div class="container" *ngIf="searchText === '' ||  user.volumeInfo.title.toLowerCase().includes(searchText)">

        <div class="card" style="padding: 20px;">
          <h1>{{ user.volumeInfo.title }}</h1>
          <p>{{ user.volumeInfo.authors }}</p>
          <p>{{ user.volumeInfo.publisher }}</p>
          <p>{{ user.volumeInfo.publishedDate }}</p>
          <p><img src={{user.volumeInfo.imageLinks.smallThumbnail}}></p>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>